html,body {
    margin: 0;
    padding: 0;
}

.logo_link{
    text-decoration: none;
    color: white;
}

.guest_header{
    width: 100%;
    color: #ffffff;
    background-color: #024fa4;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square {
    display: flex;
    align-items: center;
}

.logo{
    margin: 0;
    padding: 25px;
    display: flex;
    align-items: center;
}

.btn_box{
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
}

.place{
    width: 20px;
    height: 20px;
}

.question{
    width: 20px;
    height: 20px;
}

.btn_box button{
    background-color: #024fa4;
    padding: 5px;
    border-radius: 5px;
    margin-right: 20px;
    border-color: transparent;
}

.body_square{
    font-family: "微軟正黑體", Arial, sans-serif;
    background-color: #ffffff;
    /*display: flex;*/
    justify-content: center;
    align-content: center;
    padding: 10px;
    text-align: center;
    /*margin: 0;*/
}

.email_h4{
    padding-left: 0;
}

.inside_square button:hover{
    cursor: pointer;
}

.continue button:hover{
    cursor: pointer;
}

.login_method button{
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}

.login_method button:hover{
    cursor: pointer;

}

.login{
    width: 400px;
    height: 50px;
    color: #ffffff;
    background-color: #0071c2;
    border: 0;
    border-radius: 5px;
}

.enter{
    width: 390px;
    height: 45px;
    border-radius: 5px;
    position: relative;
    bottom: 15px;
}

.login_btn{
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
}

.image{
    width: 25px;
    height: 25px;
}